@{
    ViewBag.Title = "Home";
}

<div class="row">
    <h2>Welcome</h2>
    <p>This Web API is based on the AAD B2C sample that you can find at the link below.</p>
    <p>It uses OWIN middleware to manage OAuth2 bearer token authentication against an AAD B2C Directory.</p>
    <p>You can build <a href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-devquickstarts-ios/">iOS</a> or <a href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-devquickstarts-android/">Android</a> apps that use ADAL/MSAL to authenticate against AAD B2C before calling this API.</p>
    <p><a href="https://github.com/Azure-Samples/active-directory-b2c-xamarin-native">Xamarin</a> also supports this.</p>
    <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-devquickstarts-api-dotnet//">Go to sample &raquo;</a></p>
</div>