@{
    ViewBag.Title = "Home";
}

<div class="row">
        <h2>Welcome</h2>
        <p>This application is based on the AAD B2C sample that you can find at the link below.</p>
        <p>It uses OWIN middleware to manage OpenID Connect authentication against an AAD B2C Directory.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-b2c-devquickstarts-web-dotnet/">Go to sample &raquo;</a></p>
</div>